<%= simple_form_for @tweet do |f| %>
  <%= f.error_notification %>
  <div class="field">
  	<div class="control">
  		<%= f.input :text %>
  		<%= f.button :submit, class: "btn btn-large btn-info" %>
  	</div>
  </div>
<% end %>